footer {
  background: url('/src/assets/images/Vector\ 2.png') no-repeat;
  background-size: cover;
}

.footer__conteiner {
  padding-left: 390px;
  padding-top: 153px;
}

.footer {
  &__download {
    width: 782px;
    height: 511px;
    border: 2px solid #794BFF;
    border-radius: 20px;
    background: #fff;
  }

  &__logo1 {
    width: 245px;
    height: 141px;
    margin: 31px 269px 0 269px;
  }

  &__text {
    width: 613px;
    height: 63px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
    margin-left: 76px;
    margin-top: 18px;
  }

  &__heading {
    width: 363px;
    height: 58px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-top: 39px;
    margin-left: 209px;
    vertical-align: top;

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #5A3BDF;
      margin-top: 0px;
      vertical-align: top;
    }
  }
}

.footer {
  &__button {
    &-google {
      padding-top: 39px;
      bottom: 64px;
      width: 180px;
      height: 58px;
      top: 4199px;
      margin-left: 219px;
    }

    &-store {
      padding-top: 39px;
      bottom: 64px;
      width: 185px;
      height: 58px;
      top: 4199px;
      left: 747px;
    }
  }
}

.footer__subscribe {
  padding-left: 110px;
  padding-top: 111px;

  &-logo {
    width: 161px;
    height: 94px;
  }

  &-text {
    width: 275px;
    height: 129px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
    margin: 0;
  }

  &-icon {
    width: 26px;
    height: 26px;
    padding-right: 28px;
  }
}