footer {
  background: url('/src/assets/images/Vector\ 2.png') no-repeat;
  background-size: cover;
}

.footer {
  &__download {
    margin: 0 auto;
  }

  &__subscribe {
    padding-top: 111px;
    padding-left: 121px;
  }
}

.download {
  max-width: 52%;
  border: 2px solid #794BFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;

  &__logo {
    margin-top: 31px;
  }

  &__text {
    max-width: 80%;

    padding-top: 18px;
  }

  &__heading {
    max-width: 46%;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin: 0;
    padding-top: 39px;

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #5A3BDF;
      margin-top: 0px;
      vertical-align: top;
    }
  }

  &__button {
    padding-top: 39px;
    margin-bottom: 64px;
  }
}

.download-button {
  img {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.subscribe {
  &__logo {
    max-width: 16%;
  }

  &__text {
    max-width: 20%;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 15px;
    color: #fff;
  }

  &__icon {
    width: 26px;
    height: 26px;
    padding-right: 28px;
  }
}







// .footer__subscribe {
//   padding-left: 110px;
//   padding-top: 111px;

//   &-logo {
//     width: 161px;
//     height: 94px;
//   }

//   &-icon {
//     
//     
//   }
// }

// .footer__contact {
//   display: flex;
//   justify-content: space-between;
//   padding: 175px 149px 0 478px;

//   &-item {}
// }

// .download {
//   

//   &__logo {}

//   &__text {}

//   &__heading {}
// }