footer {
  background: url('/src/assets/images/front-page/Vector\ 2.png') no-repeat;
  background-size: cover;
}

.footer {
  &__download {
    margin: 0 auto;
    margin-top: 153px;
  }

  &__contacts {
    padding: 7.3% 7.2% 3% 7.9%;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    border-top: 1px solid #fff;
    max-width: 43%;
    margin: 0 auto;
  }
}

.download {
  max-width: 52%;
  border: 2px solid #794BFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;

  &__logo {
    margin-top: 31px;
  }

  &__text {
    max-width: 80%;
    padding-top: 18px;
  }

  &__heading {
    max-width: 46%;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin: 0;
    padding-top: 39px;

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #5A3BDF;
      margin-top: 0px;
      vertical-align: top;
    }
  }

  &__button {
    padding-top: 39px;
    margin-bottom: 64px;
  }
}


.download-button {
  img {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.subscribe {
  max-width: 275px;
  padding-right: 53px;

  &__logo {
    max-width: 161px;
  }

  &__text {
    max-width: 100%;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 15px;
    color: #fff;
    text-align: left;
  }

  &__icon {
    width: 26px;
    height: 26px;
    padding-right: 2%;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;

  &__item {
    margin-left: 2.3%;
    margin-right: 35px;
  }

  &__item-link {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #C8BDEA;
  }

  &__item-list {
    color: #fff;
    font-weight: 700;
  }
}

.copyright {
  &__text {
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 30px;
  }
}

.copyright-text {
  &__text {
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
}

.ellips22 {
  width: 78px;
  height: 78px;
  margin-top: 66px;
  margin-left: 113px;
}

.ellips23 {
  width: 30px;
  height: 30px;
  margin-top: 139px;
  margin-left: 72px;
}

.ellips24 {
  width: 48px;
  height: 48px;
  margin-top: 162px;
}

.ellips25 {
  width: 196px;
  height: 196px;
  margin-top: 154px;
  margin-left: 66px;
}

.ellips26 {
  width: 30px;
  height: 30px;
  margin-top: -90px;
  right: 42px;
}

.ellips27 {
  width: 48px;
  height: 48px;
  margin-top: -49px;
  right: 61px;
}

.ellips28 {
  width: 78px;
  height: 78px;
  margin-top: -45px;
  right: -30px;
}