.header__container {
    max-width: 1522px;
}

.header__nav-bars {
    display: flex;
    padding: 33px 157px 0px 111px;
    align-items: center;

    .header__logo {
        img {
            width: 191px;
            height: 111px;
        }
    }

    .header__nav-bar {
        padding-left: 440px;

        .header__nav-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 612px;
            height: 28px;

            a {
                display: inline-block;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
}