.header__container {
    max-width: 1522px;
    padding: 2.2% 10.3% 0px 7.3%;
}

.header__nav-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__nav-bar {

    .header__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 612px;

        a {
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }

    .header__nav-list.active {
        display: flex;
        flex-direction: column;
        right: 0;
    }

}


.header__nav-icon {
    display: none;
    cursor: pointer;

    img {
        max-width: 50px;
        height: 50px;
        filter: brightness(0) invert(1);
    }
}