:root {
  --animation-time: 40s;
}


.container-animate {
  width: 700px;
  min-height: 700px;
  position: relative;
  display: grid;
  place-items: center;
  pointer-events: none;
  animation: rotate var(--animation-time) linear infinite;
}


.container-animate:hover {
  animation-play-state: paused;
}

.container-animate:hover .img {
  animation-play-state: paused;
}

.container-animater:hover .image .inner-circle {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


.image {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  transition: 550ms ease;

  img {
    width: 250px;
  }

  img:hover {
    width: 366px;
  }
}


.inner-circle {
  position: absolute;
  width: 150px;
  border-radius: 100%;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: auto;
  transition: background 350ms ease, color 350ms ease-in-out;
  animation: rotate-opposite let(--animation-time) linear infinite;
}

.img {
  width: 25%;
  animation: rotate-opposite let(--animation-time) linear infinite;
  z-index: 1;
  --start-angle-of-rotation: 0deg;
  --end-angle-of-rotation: -360deg;
}

@keyframes rotate-opposite {
  from {
    transform: rotate(let(--start-angle-of-rotation));
    //   transform: scale(0.5, 0.5);
  }

  to {
    transform: rotate(let(--end-angle-of-rotation));
    // transform: scale(3, 3);
  }
}