.servises-section {
  background: #5030DD;
  height: 673px;
  position: relative;
}

.servises {
  display: flex;
  justify-content: space-between;
}

.servises__content {
  width: 40%;
}

.image {
  position: absolute;
  transition: all 0.6s linear;
}

.img1 {
  top: -38px;
  left: 14%;
  transform: scale(1.1);
}

.img2 {
  top: 188px;
  left: 33%;
  transform: scale(0.9);
}

.img6 {
  top: 145px;
  left: 3%;
  transform: scale(1);
}

.img3 {
  top: 350px;
  left: 29%;
  transform: scale(0.9);
}

.img4 {
  top: 418px;
  left: 17%;
  transform: scale(1);
}

.img5 {
  top: 345px;
  left: 5%;
  transform: scale(1);
}








.img7 {
  img {
    max-width: 156px;
    width: 100%;
    height: auto;
    top: 583px;
    left: 7%;
    position: absolute;
  }
}

.ellips11 {
  width: 102px;
  height: 102px;
  margin-top: -50px;
  margin-left: 63px;
}

.ellips12 {
  width: 48px;
  height: 48px;
  margin-top: 51px;
  margin-left: 10px;
}

.ellips13 {
  width: 78px;
  height: 78px;
  margin-top: 519px;
  right: 1px;
}

.ellips14 {
  width: 30px;
  height: 30px;
  margin-top: 592px;
  right: 90px;
}

.ellips15 {
  width: 48px;
  height: 48px;
  margin-top: 615px;
  right: 170px;
}

.ellips16 {
  width: 196px;
  height: 196px;
  margin-top: 607px;
  right: -70px;
}

.servises__content {
  max-width: 40%;
  margin-top: 220px;
  margin-right: 156px;
}

.content-list {
  display: flex;

  &__icon {
    max-width: 80px;
    height: 79px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 42px;
      height: 42px;
      color: #794BFF;
    }
  }
}

.text-list {
  margin-top: -20px;

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  &__text {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}

.text-list {
  &__text {
    width: 80%;
    margin: 0 auto;
  }
}