.servises-section {
  background: #5030DD;
  height: 673px;
}

.servises {
  display: flex;
  justify-content: space-between;
}

// .servises__content {
//   padding-left: 55.5%;
// }

.servises__img {
  box-sizing: border-box;
}

// .img1 {
//   img {
//     max-width: 366px;
//     width: 100%;
//     margin-top: -38px;
//     padding-left: 14%;
//     position: absolute;
//   }
// }

// .img2 {
//   img {
//     max-width: 220px;
//     width: 100%;
//     height: auto;
//     padding-top: 145px;
//     padding-left: 3%;
//     position: absolute;
//   }
// }

// .img3 {
//   img {
//     max-width: 220px;
//     width: 100%;
//     height: auto;
//     margin-top: 188px;
//     padding-left: 33%;
//     position: absolute;
//   }
// }

// .img4 {
//   img {
//     max-width: 248px;
//     width: 100%;
//     height: auto;
//     margin-top: 345px;
//     padding-left: 5%;
//     position: absolute;
//   }
// }

// .img5 {
//   img {
//     max-width: 298px;
//     width: 100%;
//     height: auto;
//     margin-top: 350px;
//     padding-left: 29%;
//     position: absolute;
//   }
// }

// .image {
//   max-width: 292px;
//   width: 100%;
//   // height: auto;
//   // margin-top: 418px;
//   // padding-left: 16.5%;
//   // position: absolute;
// }


.img7 {
  img {
    max-width: 156px;
    width: 100%;
    height: auto;
    margin-top: 583px;
    padding-left: 7%;
    position: absolute;
  }
}

.ellips11 {
  width: 102px;
  height: 102px;
  margin-top: -50px;
  margin-left: 63px;
}

.ellips12 {
  width: 48px;
  height: 48px;
  margin-top: 51px;
  margin-left: 10px;
}

.ellips13 {
  width: 78px;
  height: 78px;
  margin-top: 519px;
  right: 1px;
}

.ellips14 {
  width: 30px;
  height: 30px;
  margin-top: 592px;
  right: 90px;
}

.ellips15 {
  width: 48px;
  height: 48px;
  margin-top: 615px;
  right: 170px;
}

.ellips16 {
  width: 196px;
  height: 196px;
  margin-top: 607px;
  right: -70px;

}

.servises__content {
  max-width: 40%;
  margin-top: 220px;
  margin-right: 156px;
}

.content-list {
  display: flex;

  &__icon {
    max-width: 80px;
    height: 79px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 42px;
      height: 42px;
      color: #794BFF;
    }
  }
}

.text-list {
  margin-top: -20px;

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  &__text {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}

.text-list {
  &__text {
    width: 80%;
    margin: 0 auto;
  }
}