.servises-container {
  background: #5030DD;
  height: 673px;
}

.servises__img {
  box-sizing: border-box;

  .img1 {
    width: 366px;
    height: 366px;
    top: 1634px;
    padding-left: 214px;
    position: absolute;
  }

  .img2 {
    width: 220px;
    height: 220px;
    top: 1817px;
    padding-left: 45px;
    position: absolute;
  }

  .img3 {
    width: 220px;
    height: 220px;
    top: 1860px;
    padding-left: 503px;
    position: absolute;
  }

  .img4 {
    width: 248px;
    height: 248px;
    top: 2017px;
    padding-left: 76px;
    position: absolute;
  }

  .img5 {
    width: 298px;
    height: 298px;
    top: 2022px;
    padding-left: 439px;
    position: absolute;
  }

  .img6 {
    width: 292px;
    height: 292px;
    top: 2090px;
    padding-left: 251px;
    position: absolute;
  }

  .img7 {
    width: 156px;
    height: 156px;
    top: 2255px;
    padding-left: 102px;
    position: absolute;
  }
}

.ellips11 {
  width: 102px;
  height: 102px;
  top: 1621px;
  left: 49px;
}

.ellips12 {
  width: 48px;
  height: 48px;
  top: 1723px;
  left: 10px;
}

.ellips13 {
  width: 78px;
  height: 78px;
  top: 2191px;
  left: 1359px;
}

.ellips14 {
  width: 30px;
  height: 30px;
  top: 2264px;
  left: 1318px;
}

.ellips15 {
  width: 48px;
  height: 48px;
  top: 2287px;
  left: 1246px;
}

.ellips16 {
  width: 196px;
  height: 196px;
  top: 2279px;
  left: 1315px;
  position: absolute;
}

.servises__content {
  float: right;
  padding: 220px 156px 0px 844px;
}

.content-list {
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 80px;
    height: 79px;
    background: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 53px;
    margin-right: 57px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 42px;
      height: 42px;
      color: #794BFF;
    }
  }
}

.text-list {
  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 143px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: -20px;
  }

  &__text {
    max-width: 352px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}