.testimonial__icon {
  text-align: center;
  padding-bottom: 24px;

  img {
    width: 100px;
    height: 106px;
  }
}

.testimonial__heading {
  color: #0B036B;
  width: 255px;
  max-height: 58px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin: 0px;
  padding-left: 620px;
}

.testimonial__text {
  width: 783px;
  height: 62px;
  font-weight: 300;
  line-height: 22px;
  color: #000;
  margin-bottom: 0px;
  margin-left: 50px;
  text-align: center;
  padding-left: 328px;
}

.testimonial__slider {
  left: 341px;
  bottom: 44px;
  max-width: 792px;
}

.testimonial__slider-content {
  width: 792px;
  height: 236px;
  border: 2px solid #AD90FF;
  box-shadow: 5px, 11px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  color: #000;
  display: flex;
}

.testimonial__slider-opinion {
  width: 597px;
  height: 77px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 67px 52px 0px 143px;
}

.testimonial__slider-user {
  width: 118px;
  height: 26px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-left: 143px;
}

.testimonial__slider {
  .splide__arrow svg {
    // fill: #AD90FF;
    display: none;
  }

  .splide__pagination__page.is-active {
    background: #AD90FF;
  }
}

.testimonial__img-user {
  width: 153px;
  height: 153px;
  top: 3390px;
  left: 305px;
  position: absolute;
}