.testimonial {
  &__icon {
    text-align: center;
    padding-bottom: 24px;

    img {
      max-width: 100px;
      height: 106px;
    }
  }

  &__info {
    max-width: 51%;
    text-align: center;
    margin: 0 auto;
  }

  &__slider {
    bottom: 44px;
  }

}

.list-slide {

  &__text {
    max-width: 70%;
    font-size: 20px;
    line-height: 24px;
    margin: 67px 52px 0px 143px;


  }

  &__user {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    margin-left: 143px;
  }

  &__user-img {
    width: 153px;
    height: 153px;
    z-index: 3000;
    top: 35px;
    margin-top: -160px;
    margin-left: -50px;

  }
}

.slider-content {
  max-width: 56%;
  height: 236px;
  border: 2px solid #AD90FF;
  box-shadow: 5px, 11px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  color: #000;
  display: flex;
  margin: 0 auto;
}

.splide__arrow svg {
  display: none;
}

.testimonial__slider {
  .splide__pagination__page:hover {
    background: #B186F1;
    cursor: pointer;
    opacity: 0.9;
  }

  .splide__pagination__page.is-active {
    background: #B186F1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .splide__pagination__page {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid #B186F1;
    background: transparent;
    top: 67px;
  }
}