.become {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__content-info {
    padding-top: 344px;
    padding-left: 15%;
  }

  &__content-img {
    padding-top: 84px;
    padding-right: 6%;
  }
}

.content-info {
  max-width: 40%;

  &__heading {
    font-weight: 900;
    color: #0B036B;
  }

  &__text {
    padding-top: 23px;
    padding-bottom: 48px;
  }

  &__btn {
    border: 1px solid #794BFF;
    cursor: pointer;

    a {
      color: #794BFF;
      font-weight: 400;
      line-height: 26px;
    }
  }

  &__btn:hover {
    background: #794BFF;
    transition-duration: 3s;

    a {
      color: #fff;
    }
  }
}

.content-img {
  &__img {
    width: 27%;
    height: auto;
    max-width: 408px;
    max-height: 612px;
  }

  &__circle {
    margin-top: -330px;
    right: 8%;
  }
}

.circle {
  max-width: 356px;
  width: 100%;
  height: auto;
  height: 356px;
  background: #5030DD;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -10;
  box-sizing: border-box;
  position: absolute;
}

.elipseA {
  border: 9px solid #AD90FF;
}

.ellips17 {
  width: 60px;
  height: 60px;
  right: 356px;
  margin-top: -590px;
}

.ellips18 {
  width: 146px;
  height: 146px;
  margin-top: -481px;
  margin-right: 282px;
  z-index: -10;
}

.ellips19 {
  width: 40px;
  height: 40px;
  margin-top: -600px;
  right: 275px;
}

.ellips20 {
  width: 88px;
  height: 88px;
  margin-top: -500px;
  right: 81px;
}

.ellips21 {
  width: 116px;
  height: 116px;
  right: 194px;
  margin-top: -422px;
  z-index: -10;
}