@media (max-width:1465px) {

  .servises__content {
    margin-right: 10px;
  }

  .slide__user-img {
    img {
      display: none;
    }
  }
}

@media(max-width:1407px) {
  .textboxs {
    width: 40%;
  }

  .text-box {
    width: 80%;

    &__heading {
      font-weight: 300;
      font-size: 25px;
      line-height: 22px;
      padding-top: 10%;
    }
  }

  .img-box {
    width: 80%;
  }
}

@media (max-width:1250px) {
  .text-box {
    width: 70%;

    &__heading {
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;
    }
  }

  .img-box {
    width: 70%;

    &__heading {
      font-size: 18px;
    }
  }

  .text-box {
    &__text {
      font-size: 15px;
    }
  }
}

@media (max-width:1150px) {

  /*hero*/
  .hero {
    &__content {
      padding-top: 30px;
    }
  }

  .main-text {
    width: 100%;
    padding-right: 0px;

    h1 {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
    }

    span {
      font-weight: 500;
      font-size: 44px;
      line-height: 47px;
    }
  }

  .textboxs {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .textbox-container {
    margin: 0 auto;
  }

  .textboxs-container {
    display: block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .img-box {
    width: 100%;
  }

  .text-box {
    width: 100%;
  }


  .feature-textboxs {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media(max-width:1112px) {
  .image {
    max-width: 170px;
    max-height: 170px;
  }
}

@media (max-width:1040px) {
  .elipse {
    display: none;
  }
}

@media (max-width:1000px) {

  .article__main-heading {
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
  }


  .header__nav-icon {
    display: block;
    float: right;
  }

  .become {
    &__content {
      margin-top: 20px;
    }

    &__content-info {
      padding-left: 10%;
      padding-top: 144px;
    }

    &__content-img {

      padding-right: 10%;
    }
  }

  .content-info {
    &__heading {
      font-weight: 700;
    }
  }
}

@media (max-width:930px) {
  .main-text {
    width: 100%;
    max-width: 450px;

    h1 {
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
    }

    span {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
    }

    &__button {
      margin-top: 20px;
    }
  }

  .main-icon {
    width: 20%;

    &__text {
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  /*task*/
  .box-items {
    display: block;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .footer {
    &__contacts {
      display: block;
      flex-direction: column;
    }

    &__contacts-subscribe {
      margin: 0 auto;
      padding-right: 0;
    }
  }

  .subscribe {
    &__text {
      text-align: center;
    }

    &__logo {
      margin: auto;
    }

    &__icon {
      text-align: center;
    }
  }

  .subscribe-icon {
    padding-bottom: 20px;
  }

  .text-list__text {
    margin-bottom: 20px;
  }

  .image {
    width: 60%;
  }

  .servises-section {
    height: 573px;
  }

  .servises {
    &__content {
      margin-top: 20%;
    }

    &__img {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}


@media (max-width:850px) {
  .hero {
    &__content {
      padding-left: 60px;
    }

    .main-text {
      &__button {
        margin-top: 20px;
      }
    }
  }

  .btn {
    width: 162px;
    height: 37px;
    border-radius: 10px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;

    a {
      margin: 0 auto;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .content-info {
    &__btn {
      border: 1px solid #794BFF;
    }
  }

  .become {
    &__content-img {
      padding-right: 0;
    }
  }
}

@media (max-width:816px) {
  .header {
    &__logo {
      img {
        max-width: 35%;
      }

      .main-text {
        h1 {
          font-weight: 300;
          font-size: 30px;
          line-height: 32px;
        }

        span {
          font-weight: 400;
          font-size: 34px;
          line-height: 36px;
        }
      }
    }

    &__nav-icon {
      img {
        max-width: 30px;
        height: 30px;
      }
    }
  }

  .download {
    &__logo {
      width: 60%;

      img {
        width: 100%;
      }
    }

    &__heading {
      font-weight: 500;
      font-size: 28px;
    }
  }

  .text-list {
    &__text {
      width: 100%;
    }

    &__heading {
      margin: 0;
    }
  }

  .content-list {
    &__icon {
      margin-right: 20px;
    }
  }
}

@media(max-width:780px) {
  .main-text {
    max-width: 65%;

    h1 {
      font-weight: 300;
      font-size: 24px;
      line-height: 26px;
    }

    span {
      font-weight: 400;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 5px;
    }

    &__text {
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
    }
  }

  .circle {
    display: none;
  }

  .become {
    &__content-img {
      padding-top: 0px;
    }
  }

  .content-info {
    padding-top: 50px;
  }

  .content-img {
    &__img {
      width: 90%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .slider-content {
    width: 80%;
    height: auto;
  }

  .list-slide {
    padding-top: 30px;

    &__text {
      font-size: 12px;
      line-height: 14px;
      margin: 0 auto;
    }

    &__user {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .servises {
    height: 373px;

    &__img {
      img {
        width: 110px;
        height: 110px;
      }
    }

    &__content {
      margin-top: 10%;
    }
  }

  .servises-section {
    height: 423px;
  }

  .text-list {
    margin-top: 0;

    &__heading {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    &__text {
      font-weight: 300;
      font-size: 9px;
      line-height: 13px;
      color: #FFFFFF;
    }
  }
}

@media(max-width:650px) {
  .content-info {
    &__heading {
      font-size: 30;
      font-weight: 400;
    }

    &__text {
      font-size: 10px;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
  }

  .img-box {
    width: 80%;
  }

  .text-box {
    width: 80%;
  }
}


@media(max-width:530px) {
  .hero__content {
    padding-top: 5px;
  }

  .become {
    &__content {
      display: block;
      flex-direction: column;
      text-align: center;
    }

    &__content-img {
      padding-top: 10px;
      padding-left: 15%;

      img {
        margin: 0 auto;
      }
    }
  }

  .content-info {
    margin: 0 auto;
  }
}


@media (max-width:411px) {
  .hero__content {
    padding-left: 20px;
  }

  .main-text {
    h1 {
      font-weight: 300;
      font-size: 20px;
    }

    span {
      font-size: 22px;
    }

    &__text {
      font-weight: 300;
      font-size: 10px;
      line-height: 13px;
    }

    &__button {
      border: 2px solid #794BFF;
    }
  }

  .btn__a {
    color: #794BFF;
  }

  .img-box {
    width: 60%;
    height: auto;
  }

  .text-box {
    width: 60%;
    height: auto;
  }
}

@media (max-width:355px) {
  .main-text {
    h1 {
      font-size: 15px;
    }

    span {
      font-size: 18px;

    }

    &__text {
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
    }

    &__heading {
      margin-bottom: 5px;
    }
  }
}