@media (max-width:1231px) {
  .servises__content {
    margin-top: 120px;
    margin-right: 40px;
  }

  .content-list {
    margin-bottom: 20px;
  }

  .text-list {
    width: 90%;

    &__text {
      width: 100%;
    }
  }
}

@media (max-width:1150px) {

  /*hero*/
  .hero {
    &__content {
      padding-top: 30px;

    }
  }

  .main-text {
    width: 100%;
    padding-right: 0px;

    h1 {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;

    }

    span {
      font-weight: 500;
      font-size: 44px;
      line-height: 47px;
    }
  }

  .servises__img {
    img {
      width: 50%;
    }
  }
}

@media (max-width:1040px) {
  .elipse {
    display: none;
  }

  .content-list {
    display: block;
    flex-direction: column;
    text-align: center;


    &__icon {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}

.text-list {


  &__text {
    width: 80%;
    margin: 0 auto;

  }
}




@media (max-width:1000px) {
  .header__nav-bar {
    display: none;
  }

  .header__nav-icon {
    display: block;
    float: right;
  }
}

@media (max-width:930px) {
  .main-text {
    width: 100%;
    max-width: 450px;

    h1 {
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
    }

    span {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
    }

    &__button {
      margin-top: 20px;
    }
  }

  .main-icon {
    width: 20%;

    &__text {
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  /*task*/
  .box-items {
    display: block;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

}

@media (max-width:850px) {
  .hero {
    &__content {
      padding-left: 60px;
    }

    .main-text {
      &__button {
        margin-top: 20px;
      }
    }
  }

  .btn {
    width: 162px;
    height: 37px;
    border-radius: 10px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;

    a {
      margin: 0 auto;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (max-width:810px) {
  .header__logo {
    img {
      max-width: 35%;
    }

    .main-text {
      h1 {
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
      }

      span {
        font-weight: 400;
        font-size: 34px;
        line-height: 36px;
      }
    }
  }

  .header__nav-icon {
    img {
      max-width: 30px;
      height: 30px;
    }
  }
}

@media(max-width:780px) {


  .main-text {
    max-width: 65%;

    h1 {
      font-weight: 300;
      font-size: 24px;
      line-height: 26px;
    }

    span {
      font-weight: 400;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 5px;
    }

    &__text {
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
    }
  }
}

@media(max-width:530px) {
  .hero__content {
    padding-top: 5px;
  }
}

@media (max-width:411px) {
  .hero__content {
    padding-left: 20px;
  }

  .main-text {
    h1 {
      font-weight: 300;
      font-size: 20px;
    }

    span {
      font-size: 22px;
    }

    &__text {
      font-weight: 300;
      font-size: 10px;
      line-height: 13px;
    }

    &__button {
      border: 2px solid #794BFF;
    }
  }

  .btn__a {
    color: #794BFF;
  }
}

@media (max-width:355px) {
  .main-text {
    h1 {
      font-size: 15px;
    }

    span {
      font-size: 18px;

    }

    &__text {
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
    }

    &__heading {
      margin-bottom: 5px;
    }
  }

}