@media (max-width:1231px) {
  .servises__content {
    margin-top: 120px;
    margin-right: 40px;
  }

  .content-list {
    margin-bottom: 20px;
  }
}

@media (max-width:1150px) {

  /*hero*/
  .hero {
    &__content {
      padding-top: 30px;

    }
  }

  .main-text {
    width: 100%;
    padding-right: 0px;

    h1 {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;

    }

    span {
      font-weight: 500;
      font-size: 44px;
      line-height: 47px;
    }
  }

  .servises__img {
    img {
      width: 50%;
    }
  }
}

@media(max-width:1112px) {
  .servises__img {
    width: 60%;
    height: auto;
  }

  .servises__content {
    padding-left: 35.5%;
  }
}

@media (max-width:1040px) {
  .elipse {
    display: none;
  }
}

@media (max-width:1000px) {
  .header__nav-bar {
    display: none;
  }

  .header__nav-icon {
    display: block;
    float: right;
  }

  .servises {
    display: block;
    flex-direction: column;
  }

  .servises__content {
    padding-top: 800px;
    margin: 0 auto;
    padding-left: 15%;
  }

  .servises-section {
    height: fit-content;
  }

  .servises__img {
    padding-left: 20%;
    width: 100%;
    height: auto;

    img {
      width: fit-content;
    }
  }

  .become {
    &__content {
      margin-top: 20px;
    }

    &__content-info {
      padding-left: 10%;
      padding-top: 144px;
    }

    &__content-img {

      padding-right: 10%;
    }
  }


  .content-info {
    &__heading {
      font-weight: 700;
    }
  }
}

@media (max-width:930px) {
  .main-text {
    width: 100%;
    max-width: 450px;

    h1 {
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
    }

    span {
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
    }

    &__button {
      margin-top: 20px;
    }
  }

  .main-icon {
    width: 20%;

    &__text {
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  /*task*/
  .box-items {
    display: block;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .servises__img {
    margin: auto;
    padding-top: 50px;
  }

  .footer__contacts {
    display: block;
    flex-direction: column;
  }

  .footer__contacts-subscribe {
    margin: 0 auto;
    padding-right: 0;
  }

  .subscribe {
    &__text {
      text-align: center;
    }

    &__logo {
      margin: auto;
    }

    &__icon {
      text-align: center;
    }
  }

  .subscribe-icon {
    text-align: center;
    padding-bottom: 20px;
  }
}


@media (max-width:850px) {
  .hero {
    &__content {
      padding-left: 60px;
    }

    .main-text {
      &__button {
        margin-top: 20px;
      }
    }
  }

  .btn {
    width: 162px;
    height: 37px;
    border-radius: 10px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;

    a {
      margin: 0 auto;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .content-info {
    &__btn {
      border: 1px solid #794BFF;
    }
  }

  .become {
    &__content-img {
      padding-right: 0;
    }
  }

}

@media (max-width:810px) {
  .header__logo {
    img {
      max-width: 35%;
    }

    .main-text {
      h1 {
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
      }

      span {
        font-weight: 400;
        font-size: 34px;
        line-height: 36px;
      }
    }
  }

  .header__nav-icon {
    img {
      max-width: 30px;
      height: 30px;
    }
  }

  .download {
    &__logo {
      width: 60%;

      img {
        width: 100%;
      }
    }

    &__heading {
      font-weight: 500;
      font-size: 28px;
    }
  }
}

@media(max-width:780px) {
  .main-text {
    max-width: 65%;

    h1 {
      font-weight: 300;
      font-size: 24px;
      line-height: 26px;
    }

    span {
      font-weight: 400;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 5px;
    }

    &__text {
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
    }
  }

  .circle {
    display: none;
  }

  .become {
    &__content-img {
      padding-top: 0px;
    }
  }

  .content-info {
    padding-top: 50px;
  }

  .content-img {
    &__img {
      width: 90%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .slider-content {
    width: 80%;
    height: auto;
  }

  .list-slide {
    padding-top: 30px;

    &__text {
      font-size: 12px;
      line-height: 14px;
      margin: 0 auto;
    }

    &__user {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media(max-width:650px) {
  .content-info {
    &__heading {
      font-size: 30;
      font-weight: 400;
    }

    &__text {
      font-size: 10px;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
  }
}


@media(max-width:530px) {
  .hero__content {
    padding-top: 5px;
  }

  .become {
    &__content {
      display: block;
      flex-direction: column;
      text-align: center;
    }

    &__content-img {
      padding-top: 10px;
      padding-left: 15%;

      img {
        margin: 0 auto;
      }
    }
  }

  .content-info {
    margin: 0 auto;
  }
}


@media (max-width:411px) {
  .hero__content {
    padding-left: 20px;
  }

  .main-text {
    h1 {
      font-weight: 300;
      font-size: 20px;
    }

    span {
      font-size: 22px;
    }

    &__text {
      font-weight: 300;
      font-size: 10px;
      line-height: 13px;
    }

    &__button {
      border: 2px solid #794BFF;
    }
  }

  .btn__a {
    color: #794BFF;
  }
}

@media (max-width:355px) {
  .main-text {
    h1 {
      font-size: 15px;
    }

    span {
      font-size: 18px;

    }

    &__text {
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
    }

    &__heading {
      margin-bottom: 5px;
    }
  }
}